body {
	background: #D8D8D8;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

#container {
	width: 960px; margin: 0 auto; background-color:#0B0B3B;
}

ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: 25px auto 25px auto;
}
	ul#nav li {
		width: 126px; height: 33px; float: left; padding: 13px 0 0 0;
		font-weight: bold; text-align: center; text-transform: uppercase;
	}
		ul#nav li:nth-child(1) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(2) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(3) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(4) {
			margin: 0 60px 0 0;
		}

		ul#nav li a {
			color: #D8D8D8; text-decoration: none;
		}
			}
			
			#header {
	height: 70px; padding: 52px 0 0 57px;
}

	#header h1 {
		font: 38px Georgia, Serif; color: #0B0B3B; letter-spacing: 2px; margin: 40px 0 40px 40px;
		
	}
	#header h2 {
		width: 510px; font: 30px Georgia, Serif; color: #0B0B3B; letter-spacing: 2px; margin: 0 0 20px 40px;
	}
	
	#content {
	padding: 57px 69px 50px 69px; overflow: hidden;
}
	#content h2 {
		font: 30px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#content h3 {
		font: 26px Georgia, Serif; letter-spacing: 2px; margin: 30px 0 20px 0;
	}
	
	#content p {
		margin: 0 0 30px 0;
	}
	
	#content a {
		color: #a12121; text-decoration: none;
	}
}

img {
  margin-left: 40px;
}
